Django~=3.1.14
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
bcrypt==4.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
django-audit-fields==0.3.9
django-cors-headers==4.0.0
django-debug-toolbar==4.1.0
django-extensions==3.2.1
django-ipware==5.0.0
django-js-reverse==0.9.1
django-logentry-admin==1.1.0
django-simple-history==3.3.0
djangorestframework==3.14.0
docutils==0.20
Faker==18.7.0
gitdb==4.0.10
GitPython==3.1.31
hurry.filesize==0.9
idna==3.4
model-mommy==2.0.0
paramiko==3.1.0
pycparser==2.21
pycryptodome==3.17
pycups==2.0.1
PyMySQL==1.0.3
PyNaCl==1.5.0
python-dateutil==2.8.2
python-memcached==1.59
pytz==2023.3
requests==2.30.0
six==1.16.0
smmap==5.0.0
sqlparse==0.4.4
toolz==0.12.0
tqdm==4.65.0
urllib3==2.0.2
watchdog==3.0.0

git+https://github.com/botswana-harvard/django-revision.git@develop#egg=django_revision
git+https://github.com/botswana-harvard/edc-action-item.git@develop#egg=edc_action_item
git+https://github.com/botswana-harvard/edc-appointment.git@develop#egg=edc_appointment
git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-consent.git@develop#egg=edc_consent
git+https://github.com/botswana-harvard/edc-constants.git@develop#egg=edc_constants
git+https://github.com/botswana-harvard/edc-dashboard.git@develop#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc_device
git+https://github.com/botswana-harvard/edc-facility.git@develop#egg=edc_facility
git+https://github.com/botswana-harvard/edc-form-validators.git@develop#egg=edc_form_validators
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-lab.git@develop#egg=edc_lab
git+https://github.com/botswana-harvard/edc-label.git@develop#egg=edc_label
git+https://github.com/botswana-harvard/edc-list-data.git@develop#egg=edc_list_data
git+https://github.com/botswana-harvard/edc-locator.git@develop#egg=edc_locator
git+https://github.com/botswana-harvard/edc-metadata.git@develop#egg=edc_metadata
git+https://github.com/botswana-harvard/edc-model-admin.git@develop#egg=edc_model_admin
git+https://github.com/botswana-harvard/edc-model-wrapper.git@develop#egg=edc_model_wrapper
git+https://github.com/botswana-harvard/edc-prn.git@develop#egg=edc_prn
git+https://github.com/botswana-harvard/edc-protocol.git@develop#egg=edc_protocol
git+https://github.com/botswana-harvard/edc-reference.git@develop#egg=edc_reference
git+https://github.com/botswana-harvard/edc-registration.git@develop#egg=edc_registration
git+https://github.com/botswana-harvard/edc-sms.git@develop#egg=edc_sms
git+https://github.com/botswana-harvard/edc-subject-dashboard.git@develop#egg=edc_subject_dashboard
git+https://github.com/botswana-harvard/edc-sync@develop#egg=edc_sync
git+https://github.com/botswana-harvard/edc-sync-files@develop#egg=edc_sync_files
git+https://github.com/botswana-harvard/edc-timepoint.git@develop#egg=edc_timepoint
edc-utils==0.3.19
git+https://github.com/botswana-harvard/edc-visit-schedule.git@develop#egg=edc_visit_schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@develop#egg=edc_visit_tracking
python-dotenv~=1.0.1
